.header {
  display: flex;
  height: 70px;
  background-color: rgba(70, 70, 70, 0.874);
  padding-right: 20px;
  align-items: center;
  justify-content: space-between;
}

.title {
  margin-left: 20px;
  color: white;
  font-size: 30px;
  font-weight: bold;
}

button {
  height: 35px;
  width: 60px;
  margin: 5px;
}

.esFlag {
  background-image: url("../../public/assets/es-flag.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
}

.enFlag {
  background-image: url("../../public/assets/en-flag.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
}
